html, body {
  background-image: url('../../../assets/images/OG49MO0.jpg');
  background-repeat: repeat;
}

.mat-cell:last-child, .mat-header-cell:last-child {
  justify-content: flex-end;
}

.mat-row:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

