<mat-toolbar class="d-flex justify-content-between">
  <div type="button"
       class="d-flex align-items-center"
       (click)="goToHomePage()">
    <div class="me-2">
      <img src="../../assets/images/icons8-real-estate-100.png">
    </div>
    <div class="d-flex flex-column">
      <span class="fs-2 text-black-50">Prodaja</span>
      <span class="fs-1">Nekretnina</span>
    </div>
  </div>

  <nav mat-tab-nav-bar class="me-5">
    <a mat-tab-link
       #rla="routerLinkActive"
       *ngFor="let link of navLinks;let i=index"
       [routerLink]="link.path"
       routerLinkActive="active"
       [active]="rla.isActive"
       [routerLinkActiveOptions]="{ exact: true }">{{link.label}}
    </a>
  </nav>
</mat-toolbar>
