<h2 mat-dialog-title
    class="mb-0">Dodaj kategoriju</h2>
<hr class="mt-2 mb-3">
<div mat-dialog-content>
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="py-3 pt-2 row">
    <mat-form-field appearance="outline"
                    class="col">
      <mat-label>
        Naziv kategorije
      </mat-label>
      <input matInput
             formControlName="categoryName">
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="col">
      <mat-label>
        Opis kategorije
      </mat-label>
      <textarea matInput
                rows="1"
                formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions
     class="d-flex justify-content-center">
  <button mat-raised-button
          (click)="onNoClick()">Odustani</button>
  <button mat-raised-button
          class="btn btn-secondary"
          type="submit"
          (click)="onSubmit()"
          [mat-dialog-close]="true"
          cdkFocusInitial
          [disabled]="!form.valid">Dodaj</button>
</div>
