/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  background-image: url('assets/images/OG49MO0.jpg');
  background: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.95)), url("assets/images/OG49MO0.jpg");
  background-repeat: repeat;
}
